<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPagesMovie</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesMovie.styles.css" asp-append-version="true" />
</head>
<body class="bg-cover bg-center bg-no-repeat min-h-screen flex flex-col relative"
      style="background: url('/images/bgv2.jpg'); background-size: cover; background-position: center;">

    <header class="p-[100px] py-4 bg-black text-white">
        <nav class="px-8 flex justify-between items-center">
            <a href="/" class="text-2xl text-white font-bold hover:text-gray-400">Schmoovies</a>
            <div class="flex space-x-6">
                <a asp-area="" asp-page="/Index" class="hover:text-gray-400">Home</a>
                <a asp-area="" asp-page="/Privacy" class="hover:text-gray-400">Privacy</a>
                <a asp-area="" asp-page="/Manage" class="hover:text-gray-400">Manage</a>
            </div>
        </nav>
    </header>

    <main class="flex-grow">
        <div>
            @RenderBody()
        </div>
    </main>

    <footer class="bg-black text-white py-4 z-10">
        <div class="text-center">
            &copy; 2025 - RazorPagesMovie -
            <a asp-area="" asp-page="/Privacy" class="hover:text-gray-400">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
